.item {
    display: grid;
    grid-template-columns: 10px 183px 100px;
    grid-template-rows: 185px 50px 20px;

    grid-template-areas: 
    ". item-img item-img"
    ". item-title item-btn"
    ". item-subtitle item-subtitle";
}

.img {
    grid-area: item-img;
    align-self: flex-end;
}

.img_content {
    border-radius: 10px;
}

.h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #3A3939;

    grid-area: item-title;
    align-self: center;
}

.p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #3A3939;

    grid-area: item-subtitle;
    align-self: center;
    justify-self: start;
}

.main_button {
    width: 100px;
    height: 30px;

    background: #A0583C;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: item-btn;
    
    align-self: center;
}

.button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}