.blog_span {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 100px;
    grid-template-areas: 
    "head-hr1 head-title head-hr2"
    ". head-search head";
}

.hr1 {
    width: 450px;
    height: 5px;
    background-color: #A0583C;

    grid-area: head-hr1;
    align-self: flex-end;
    justify-self: center;
}

.hr2 {
    width: 450px;
    height: 5px;
    background-color: #A0583C;

    grid-area: head-hr2;
    align-self: flex-end;
    justify-self: center;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #C08267;

    grid-area: head-title;
    align-self: flex-end;
    justify-self: center;
}

.blogs {
    display: grid;
    grid-template-rows: 0.85fr 1fr;
    grid-template-areas: 
    "blog-width blog-width blog-width blog-width blog-width"
    ". item1 item2 item3 .";
}

.blog_width {
    width: 1000px;
    height: 243px;

    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;

    margin-left: 165px;
    margin-top: 20px;

    grid-area: blog-width;
    justify-self: start;
    margin-left: 139px;
}

.item1 {
    width: 253px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;

    grid-area: item1;
}

.item2 {
    width: 253px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;

    grid-area: item2;
}

.item3 {
    width: 253px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;

    grid-area: item3;
}