.explore {
    display: grid;
    grid-template-columns: 20px 2fr 1fr 1fr 20px;
    grid-template-rows: 50px 0.5fr 2fr 2fr;
    grid-template-areas: 
    ". title title title ."
    ". subtitle subtitle subtitle ."
    ". img_item1 img_item2 img_item3 ."
    ". img_item1 img_item4 img_item5 .";
}

.title {
    grid-area: title;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #3A3939;
}

.subtitle {
    grid-area: subtitle;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}

.title_brand {
    /* grid-area: title_brand; */
}

.subtitle_brand {
    /* grid-area: subtitle_brand; */
}

.img_item1 {
    grid-area: img_item1;
}

.img_item2 {
    grid-area: img_item2;
}

.img_item3 {
    grid-area: img_item3;
}

.img_item4 {
    grid-area: img_item4;
}

.img_item5 {
    grid-area: img_item5;
}

.img_item6 {
    /* grid-area: img_item6; */
}
