.main {
    user-select: none;
    display: grid;
    grid-template-columns: 10px 1254px;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    ". search-bar"
    ". items";
}

.searchBar {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "head-title head-title head-title"
    ". head-search head";

    grid-area: search-bar;
    align-self: center;
}

.title {
    grid-area: head-title;
    align-self: center;
}

.search {
    grid-area: head-search;
    display: flex;
}

.img {
    margin-left: -25px;
    margin-top: 8px;
}

.input {
    width: 360px;
    height: 37px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    color: #6C6C6C;
    padding-left: 15px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    grid-template-areas: "item1 item2 item3 item4";

    grid-area: items;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}